
<div class="rz-p-4">
    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H2" Class="rz-color-white">
        <strong>Gestor Clientes</strong>
    </RadzenText>
</div>

<RadzenPanelMenu>
    <RadzenPanelMenuItem Text="Home" Path="/" Icon="home" />
    <RadzenPanelMenuItem Text="Clientes" Path="clientes" Icon="person" />
</RadzenPanelMenu>