@page "/home"
@attribute [Authorize]
<PageTitle>Home</PageTitle>

<h1>Gestor de clientes</h1>

<p>Funcionalidades:</p>

<ul>
	<li>Listar Clientes</li>
	<li>Agregar Clientes</li>
	<li>Editar Clientes</li>
	<li>Borrar Clientes</li>
	<li>Filtrar</li>
	<li>Seleccion de varios clientes</li>
	<li>Subir Categoría a varios clientes</li>
	<li>Login cifrado y cookies</li>
	<li>Trazabilidad</li>
	<li>Ventas</li>
</ul>
