@page "/"
@using Data.Models
@using Microsoft.AspNetCore.Components.Authorization
@using WebBlazor.Services
@inject NavigationManager Navigation
@inject DialogService DialogService
@rendermode InteractiveServer

<PageTitle>Login</PageTitle>

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Class="rz-mb-4">
    <RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1" Class="rz-m-0">Iniciar Sesión</RadzenText>
</RadzenStack>

@if (Navigation.Uri.Contains("error=true"))
{
    <RadzenAlert AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter">
        Credenciales incorrectas o error de conexión.
    </RadzenAlert>
}

<RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 500px;">
    <form action="account/login" method="post">
        <AntiforgeryToken />
        <RadzenStack Gap="1.5rem">
            <RadzenStack Gap="0.5rem">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Email</RadzenText>
                <RadzenTextBox Name="email" Style="width: 100%;" />
            </RadzenStack>

            <RadzenStack Gap="0.5rem">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Password</RadzenText>
                <RadzenPassword Name="password" Style="width: 100%;" />
            </RadzenStack>

            <RadzenButton ButtonType="ButtonType.Submit"
                          Text="Entrar"
                          Icon="login"
                          ButtonStyle="ButtonStyle.Primary"
                          Class="rz-mt-4"
                          Style="width: 100%;" />

            <RadzenButton Variant="Variant.Text"
                          Text="Regístrate aquí"
                          Click="@(() => Navigation.NavigateTo("/registro"))"
                          Class="rz-mt-4" />
        </RadzenStack>
    </form>
</RadzenCard>